@import "https://pro.fontawesome.com/releases/v5.10.0/css/all.css";
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    color:#3D3D39;
    font-family: "Open Sans",Verdana,Helvetica,sans-serif;
}
.images {
    width: 350px;
    height: 350px;
    transition: width 1s, filter 1s;
    border-radius: 10px;
}

.images:hover {
    cursor: pointer;
    filter: saturate(2);
    width: 360px;
}